/* cartModal.css */
.cart-modal {
  /* Hidden by default */
  display: none;
  /* Position fixed - stays in the same place even if you scroll */
  position: fixed;
  /* Center and scale the modal */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index places the modal on top of other elements */
  z-index: 1;
  /* Apply some styles */
  background-color: #dde6f5d0;
  padding: 20px;
  border: 1px solid #f7cac9;  
  width: 1000px; /* Adjust the width as needed */
  height: auto;
  
  
}

/* Display the modal when opened */
.cart-modal.show {
  display: block;
}

.cart-modal-content{
  overflow-y: auto; 
}
/* Style the close button */
.cart-modal-content .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  margin-bottom: 10px;
}

.cart-modal-content img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Add any additional styles based on your design */

.cart-items {
  display: flex;
  flex-wrap: wrap;
}

.cart-item {
  width: 150px; /* Adjust as needed based on your design */
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.cart-item img {
  max-width: 100%;
  height: auto;
}


.checkout-fields {
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr; /* Two columns, equal width */
}

.checkout-fields label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkout-fields input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

