/* cartModal.css */
.cart-modal {
  /* Hidden by default */
  display: none;
  /* Position fixed - stays in the same place even if you scroll */
  position: fixed;
  /* Center and scale the modal */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index places the modal on top of other elements */
  z-index: 1;
  /* Apply some styles */
  background-color: #dde6f5d0;
  padding: 20px;
  border: 1px solid #f7cac9;  
  width: 600px; /* Adjust the width as needed */
  height: auto;
  
}

/* Display the modal when opened */
.cart-modal.show {
  display: block;
}

/* Style the close button */
.cart-modal-content .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  margin-bottom: 10px;
}

.cart-modal-content img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Add any additional styles based on your design */
