.gallery-container {
    
    display: flex;
    max-width: 1300px;
    margin: auto;
    gap: 50px;
    background-color: #8fcdef;
    margin-block-start: -5px;
    
  }
  
  .gallery-image {
    margin-left: 20px;
    width: 900px;
    height: 900px;
    object-fit:scale-down;

  }
  
  .center-image {
    width: 700px;
    height: 700px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .swipe-button {
    padding: 10px;
    background: #FFC567;
    color: #796464;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  