h1#navbarh1 {
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFC567;
    align-items: center;

}

.dgwt-wcas-sf-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
.search-icon{
    margin-bottom: 10px;
}

.dgwt-wcas-preholder{
  color: #532d3b;
}

/* Add this to your existing CSS file or create a new one */

.link-container {
    display: flex;
    align-items: center;
    float: right;
  }
  
  .link-container a#link {
    color: #ffffff; /* Subtle pink color */
    background-color: #532d3b;
    border: 2px #532d3b solid;
    border-radius: 12px;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for color changes */
  }
  .link-container a{
    color: #ffffff; /* Subtle pink color */
    background-color: rgb(49, 116, 50);
    border: 2px #d92869 solid;
    border-radius: 12px;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;

  }
  
  .link-container a:hover {
    text-decoration: #532d3b;
    color: #d45f8d; /* Darker pink on hover */
  }
  
  
  /* Assuming you have a loginBtnStyle object with specific styles */
