/* GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --peony: #f9a3ae;
  --muted-grey: #B9B2AA;
  --sea-salt: #CDD2CA;
  --matte-black: #28282B;
  --blossom: #f47992; /* Assuming this is a mistake, as it duplicates matte black */
}



/* LAYOUT */
:root {
  --primary: #73b86a ;
  --error: #6283db;

}

body {
  background: #5726c9;
  margin: 0;
  font-family: fantasy;
}

header {
  background: var(--matte-black); /* NAVBAR */
  padding-bottom: 1rem;
  
}
/*ONLINE CROCHET ITEMS -> label*/
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  height: 80px;
}

header a {
  color: rgb(218, 118, 118);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
.container {
  text-align: center;
}

.dgwt-wcas-sf-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  padding: 13px 0 13px 48px;
  line-height: 24px;
  font-size: 17px;
  border: 2px solid transparent;
  border-radius: 30px;
  height: auto;
  font-family: Roboto, sans-serif;
  background-color: #feeae7;
}

.search-icon {
  fill: #a30238;
  position: absolute;
  left: 12px;
}