/* GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* LAYOUT */
:root {
  --primary: #73b86a ;
  --error: #6283db;

}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
  
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

header a {
  color: rgb(218, 118, 118);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}